.virtualenv
.virtualenv/*
.virtualenv/**
dist
dist/*
dist/**
build
build/*
build/**
*.egg-info
*.egg-info/*
*.egg-info/**
*~
**/*~
*.swp
**/*.swp
*.pyc
**/*.pyc
.DS_Store
*/.DS_Store
**/.DS_Store

.coverage
coverage.xml
.vscode/*
junit.xml
.pytest_cache

src/**/_node/*
src/**/_node/**
